body {
    background-color: #f0f2f5; /* สีพื้นหลังที่อ่อนนุ่ม */
    font-family: Arial, sans-serif; /* เปลี่ยนฟอนต์ให้ดูทันสมัย */
}

.login-container {
    text-align: left; /* จัดเนื้อหาให้อยู่ทางซ้าย */
    width: 500px; /* กำหนดความกว้างของกล่อง */
    height: 600px;
    margin: 5rem auto; /* จัดกึ่งกลางหน้าและเพิ่มระยะห่าง */
    background-color: #ffffff; /* สีพื้นหลังของกล่องสีขาว */
    padding: 2.5rem; /* เพิ่มพื้นที่ว่างภายในกล่อง */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* เพิ่มเงาให้ดูนุ่มนวล */
    border-radius: 12px; /* มุมโค้งเพื่อรูปลักษณ์ที่ทันสมัย */
}

.welcome{
    font-size: 50px;
    font-weight: bold;
}
.please1{
    font-size: 20px;
}

.data1{
    margin-top: 50px;
}

.buttonlogin{
    margin-top: 30px;
}

.login-container h2 {
    margin-bottom: 1rem; /* ระยะห่างด้านล่างของหัวข้อ */
    color: #333; /* สีเข้มของข้อความหัวข้อ */
    font-weight: bold; /* ทำให้หัวข้อหนา */
}

.login-container label {
    display: block; /* ทำให้ข้อความป้ายอยู่บรรทัดใหม่ */
    margin-bottom: 0.5rem; /* เพิ่มระยะห่างด้านล่าง */
    color: #555; /* สีของข้อความป้าย */
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%; /* ความกว้างเต็มของกล่อง */
    padding: 0.75rem;
    margin: 0.5rem 0; /* ระยะห่างระหว่างฟิลด์ */
    border: 1px solid #ddd; /* เส้นขอบสีอ่อน */
    border-radius: 6px; /* มุมโค้งของฟิลด์ข้อมูล */
    box-sizing: border-box;
    font-size: 1rem;
}


