body{
    background-color: rgb(211, 223, 223);
}

#container{
    margin: 0px auto;
    width: fit-content;
    border: 1px solid rgb(2, 0, 95);
    border-radius: 0.5rem;
    background-color: rgb(255, 204, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* เงาที่ด้านหลังกล่อง */
}

#field{                    /*พื้นหลัง*/
    /* variable */
    height: 600px;
    width: 1000px;
    /* fixed */
    border: 1px solid rgb(0, 0, 0);
    margin: 10px ;
    border-radius: 0.5rem;
}
#control{
    margin: 10px;
    /* border: 1px solid rgb(62, 23, 178); */
}

#ball{
    /* fixed */
    border: 1px solid rgb(0, 0, 0);
    
    background-color: rgb(189, 224, 255);
    border-radius: 50%;
    position: relative;
    background-position: center;    /*ปรับรูปในลูกบอลให้อยูตรงกลาง*/
    background-size: 120%;         /*ระยะขอบรูปในลูกบอล*/

    /* variable */
    height: 50px;                /*ขนาดลูกบอล*/
    width:  50px;
    /* background-image: url(./IMG/png-transparent-basketball-illustration-basketball-sports-equipment-sports-league-woodville-tompkins-institute-basketball-sport-orange-team-thumbnail-removebg-preview.png); */
    transform: rotate(0deg);      /*หมุนภาพในลูกบอล*/
    background-repeat: no-repeat;   /* ไม่ให้ภาพซ้ำ */
}

.conbox{
    float: right;
}

