.carts-container{
    border: 1px solid;
    text-align: center;
    padding: 5px;
    background-color: rgb(255, 139, 6);
    width: 1060px;
    height: 720px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* เงาที่ด้านหลังกล่อง */
    border-radius: 15px; /* มุมโค้งมน */

}
.carts-container2{
    border: 1px solid;
    text-align: center;
    margin-left: 5px;
    margin-top: 3px;
    background-color: rgb(249, 252, 255);
    padding: 5px;
    width: 1040px;
    height: 700px;
    border-radius: 15px; /* มุมโค้งมน */

}
.carts-items-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    overflow-y: auto;
    height: 590px;
    margin-left: 20px;
    align-items: start;
}

.Checkout{
    font-size: 25px;
    margin-bottom: 10px;
}
.check-out{
    border-top: 1px solid rgb(170, 179, 219);
    padding-top: 12px;
    background-color: rgb(252, 249, 209);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

}
